<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>User: <%= users[0].name %> - Age: <%= users[0].age %></p>
    <p>User: <%= users[1].name %> - Age: <%= users[1].age %></p>
    <p>User: <%= users[2].name %> - Age: <%= users[2].age %></p>
  </body>
</html>
