<!DOCTYPE html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/new" method="POST">
            <fieldset>
                <legend>Data</legend>
                <p>
                    Name: <input type="text" name="name" value="<%= customer.name %>"/>
                </p>
                <p>
                    Age: <input type="number" name="age" min="1" max="150" value="<%= customer.age %>"/>
                </p>
                <p>
                    State: <select id="uf" name="state">
                               <option>Select state:</option>
                               <option>PR</option>
                               <option>SC</option>
                               <option>RS</option>
                           </select>
                </p>
                <input type="hidden" name="id" value="<%= customer._id %>" />
                <p>
                    <input type="submit" value="Save" />
                    <a href="/">Cancelar</a>
                </p>
            </fieldset>
        </form>
        <script>
            // pega o erro da URL
            if(window.location.search){
                const error = window.location.search.split('=')[1];
                alert(decodeURI(error));
            }

            // seta o estado
            <% if(customer.state) { %>
                document.getElementById("uf").value = "<%= customer.state %>"
            <% } %>

        </script>
    </body>
</html>