<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> CRUD</p>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Age</td>
          <td>State</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(item => { %>
          <tr align="center">
              <td align="left"><%= item.name %></td>
              <td><%= item.age %></td>
              <td><%= item.state %></td>
              <td>
                <a href="/edit/<%= item._id %>">
                  <img width="16" height="16" src="/images/edit_icon.png" />
                </a>
              </td>
          </tr>
        <% }) %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><%= customers.length %> customers found</td>
        </tr>
      </tfoot>
    </table>
    <a href="/new">Customer Registration</a>
  </body>
</html>