<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> CRUD</p>

    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Age</td>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(item => { %>
          <tr>
              <td><%= item.name %></td>
              <td><%= item.age %></td>
          </tr>
        <% }) %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= customers.length %> clientes cadastrados!</td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>