<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <h3>Welcome <%= user %>!</h3>
    <!-- Users table -->
    <table>
        <tr style="background-color: gray;">
            <td>User</td><td>Actions</td>
        </tr>
        <% if(users){ %>
            <% for(let i = 0 ; i < users.length; i++){ %>
                <tr>
                    <td>
                        <a href="/edit/<%= users[i]._id %>"><%= users[i].username%></a>
                    </td>
                    <td>
                        <form action="/delete/<%= users[i]._id %>" method="POST">
                            <input type="submit" value="X">
                        </form>
                    </td>
                </tr>
            <% } %> 
        <% } %> 
        <tr>
            <td colspan="2">
                <% for(let i = 1 ; i <= qtyPages; i++){ %>
                    <% if(page === i) { %>
                        <%= i %> |
                    <% } else { %>
                        <a href="/index/<%= i %>"><%= i %></a> |
                    <% } %>
                <% } %>
            </td>
        </tr>
    </table>
    <p>
        Showing <%= (page * pageSize) - pageSize +1 %> 
        to <%= (page * pageSize) > pageSize ? pageSize : (page * pageSize) %> of 
        <%= total %> registered users
    </p>
    <!-- Footer -->
    <p>
        <a href="/users/signup">Cadastrar</a>
        <!-- Logout Form -->
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </p>
    <p>
        <% if(profile === '1'){ %> 
            <a href="/reports">Reports</a>
        <% } %>
    </p>
</body>
</html>